<div class="container-portfolio">

  <div class="portfolio-header">
    <a name="anchor-portfolio">
      <h2 class="text-center">FLAVIE SEREN-ROSSO | PATISSIERE PASSIONNEE</h2>
      <%= image_tag("Soulignement_or_endroit.png") %>
    </a>
  </div>
    
  <div class="row">
    <div class="pastry-row" id="row1">
      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611851913/Portfolio%20Flavie/1._Religieuses_jqvxaa.png);">
            </div>
          </div>
          <div class="back bg-gold">
            <div class="header">
              <h4>Religieuses au café</h4>
            </div>
            <div class="content">
              <p>Choux et son craquelin<br>Crème pâtissière café<br>Crème au beurre</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/2._For%C3%AAt_zgvh4m.png);">
            </div>
          </div>
          <div class="back bg-creme">
            <div class="header">
              <h4>Forêt noire aux framboises </h4>
            </div>
            <div class="content">
              <p>Génoise nature<br>Mousse chocolat noir 70%<br>Sirop à la framboise<br>Chantilly à la vanille</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/3._Noix_de_coco_mpywr8.png);">
            </div>
          </div>
          <div class="back bg-gold">
            <div class="header">
              <h4>Nuage coco</h4>
            </div>
            <div class="content">
              <p>Dacquoise coco<br>Croustillant chocolat blanc et coco<br>Mousse coco légère<br>Crémeux chocolat noir </p>
            </div>
          </div>
        </div>
      </div>
        
      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/4._D%C3%B4mes_dx1qmr.png);">
            </div>
          </div>
          <div class="back bg-creme">
            <div class="header">
              <h4>Dômes chocolat praliné</h4>
            </div>
            <div class="content">
              <p>Mousse au chocolat noir 70%<br>Ganache au praliné<br>Croustillant au praliné<br>Crumble à la noisette</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pastry-row" id="row2">
      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/5._Bavarois_pqdjim.png);">
            </div>
          </div>
          <div class="back bg-creme">
            <div class="header">
              <h4>Bavaroise fruits rouges</h4>
            </div>
            <div class="content">
              <p>Mousse aux fruits rouges<br>Biscuit cuillère<br>Fruits rouges</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/6._Charlotte_cxtqyx.png);">
            </div>
          </div>
          <div class="back bg-gold">
            <div class="header">
              <h4>Charlotte aux poires</h4>
            </div>
            <div class="content">
              <p>Mousse bavaroise à la vanille<br>Biscuit cuillère<br>Poires</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/7._Tartelettes_framboise_shfrwz.png);">
            </div>
          </div>
          <div class="back bg-creme">
            <div class="header">
              <h4>Tartelettes framboises</h4>
            </div>
            <div class="content">
              <p>Pâte sucrée<br>Crème d’amande<br>Ganache montée au chocolat blanc<br>Framboises</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/8._Fraisier_jrdsrf.png);">
            </div>
          </div>
          <div class="back bg-gold">
            <div class="header">
              <h4>Fraisier au basilic</h4>
            </div>
            <div class="content">
              <p>Molly cake<br>Pesto basilic amandes<br>Confit de fraises<br>Crème diplomate à la vanille de bourbon</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pastry-row" id="row3">
      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/9._Galette_tt9kju.png);">
            </div>
          </div>
          <div class="back bg-gold">
            <div class="header">
              <h4>Galette des rois </h4>
            </div>
            <div class="content">
              <p>Pâte feuilletée<br>Crème frangipane à la fleur d’oranger</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/10._Chocolats_zq2e8o.png);">
            </div>
          </div>
          <div class="back bg-creme">
            <div class="header">
              <h4>Chocolats</h4>
            </div>
            <div class="content">
              <p>Enrobage chocolat noir 70% et chocolat dulcey<br>Praliné aux noisettes</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854330/Portfolio%20Flavie/11._Pains_au_chocolat_cipfmh.png);">
            </div>
          </div>
          <div class="back bg-gold">
            <div class="header">
              <h4>Pains au chocolat</h4>
            </div>
            <div class="content">
              <p>Pâte feuilletée<br>Chocolat noir 70%</p>
            </div>
          </div>
        </div>
      </div>
          
      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/12._Macarons_au_chocolat_zk40ea.png);">
            </div>
          </div>
          <div class="back bg-creme">
            <div class="header">
              <h4>Macarons</h4>
            </div>
            <div class="content">
              <p>Ganache au chocolat noir 70%</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div id="anchor-position-portray"><a name="anchor-portray"></a></div>
</div>

