<div class="container-portray">
  <%= image_tag("Soulignement_or_endroit_épais.png") %>

  <div class="row">
    <%= image_tag("Portrait.png") %>
    <div class="portray-description">
      <h2>FLAVIE SEREN-ROSSO</h2>
      <h3>Une passion depuis sa tendre enfance</h3>
      <p>Flavie est originaire d'Amiens. Passionnée depuis son plus jeune âge par la pâtisserie,
        c'est tout naturellement qu'elle s'est engagée, après des études de commerce à Skema et 
        dans différentes universités internationales, dans un projet entrepreneurial 
        visant à produire et faire découvrir ses biscuits bio au plus grand nombre. </p>

        <p>Quelques années plus tard, et désormais implantée en Île-de-France, 
        Flavie a fait le choix de reprendre ses études en préparant son CAP Pâtisserie ;
        elle continue en parallèle de créer, ou parfois de revisiter, <strong>des pâtisseries</strong>, 
        à son image : <strong>gourmandes et généreuses !</strong></p>

        <p>Découvrez-les et <strong>contactez Flavie</strong> pour tout projet susceptible de l'intéresser.</p>
    </div>
  </div>

  <%= image_tag("Soulignement_or_envers.png") %>
</div>
