<div class="container-portfolio">

  <div class="portfolio-header">
    <a name="anchor-portfolio">
      <h2 class="text-center">FLAVIE SEREN-ROSSO | PATISSIERE PASSIONNEE</h2>
      <%= image_tag("Soulignement_or_endroit.png") %>
    </a>
  </div>
    
  <div class="row">
    <div class="pastry-row" id="row1">
      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611851913/Portfolio%20Flavie/1._Religieuses_jqvxaa.png);">
            </div>
          </div>
          <div class="back bg-gold">
            <div class="header">
              <h4>Religieuses</h4>
            </div>
            <div class="content">
              <p>Craquelin sur choux <br>Crémeux au café</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/2._For%C3%AAt_zgvh4m.png);">
            </div>
          </div>
          <div class="back bg-creme">
            <div class="header">
              <h4>Religieuses</h4>
            </div>
            <div class="content">
              <p>Craquelin sur choux <br>Crémeux au café</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/3._Noix_de_coco_mpywr8.png);">
            </div>
          </div>
          <div class="back bg-gold">
            <div class="header">
              <h4>Religieuses</h4>
            </div>
            <div class="content">
              <p>Craquelin sur choux <br>Crémeux au café</p>
            </div>
          </div>
        </div>
      </div>
        
      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/4._D%C3%B4mes_dx1qmr.png);">
            </div>
          </div>
          <div class="back bg-creme">
            <div class="header">
              <h4>Religieuses</h4>
            </div>
            <div class="content">
              <p>Craquelin sur choux <br>Crémeux au café</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pastry-row" id="row2">
      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/5._Bavarois_pqdjim.png);">
            </div>
          </div>
          <div class="back bg-creme">
            <div class="header">
              <h4>Religieuses</h4>
            </div>
            <div class="content">
              <p>Craquelin sur choux <br>Crémeux au café</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/6._Charlotte_cxtqyx.png);">
            </div>
          </div>
          <div class="back bg-gold">
            <div class="header">
              <h4>Religieuses</h4>
            </div>
            <div class="content">
              <p>Craquelin sur choux <br>Crémeux au café</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/7._Tartelettes_framboise_shfrwz.png);">
            </div>
          </div>
          <div class="back bg-creme">
            <div class="header">
              <h4>Religieuses</h4>
            </div>
            <div class="content">
              <p>Craquelin sur choux <br>Crémeux au café</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/8._Fraisier_jrdsrf.png);">
            </div>
          </div>
          <div class="back bg-gold">
            <div class="header">
              <h4>Religieuses</h4>
            </div>
            <div class="content">
              <p>Craquelin sur choux <br>Crémeux au café</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pastry-row" id="row3">
      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/9._Galette_tt9kju.png);">
            </div>
          </div>
          <div class="back bg-gold">
            <div class="header">
              <h4>Religieuses</h4>
            </div>
            <div class="content">
              <p>Craquelin sur choux <br>Crémeux au café</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/10._Chocolats_zq2e8o.png);">
            </div>
          </div>
          <div class="back bg-creme">
            <div class="header">
              <h4>Religieuses</h4>
            </div>
            <div class="content">
              <p>Craquelin sur choux <br>Crémeux au café</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854330/Portfolio%20Flavie/11._Pains_au_chocolat_cipfmh.png);">
            </div>
          </div>
          <div class="back bg-gold">
            <div class="header">
              <h4>Religieuses</h4>
            </div>
            <div class="content">
              <p>Craquelin sur choux <br>Crémeux au café</p>
            </div>
          </div>
        </div>
      </div>
          
      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/12._Macarons_au_chocolat_zk40ea.png);">
            </div>
          </div>
          <div class="back bg-creme">
            <div class="header">
              <h4>Religieuses</h4>
            </div>
            <div class="content">
              <p>Craquelin sur choux <br>Crémeux au café</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div id="anchor-position-portray"><a name="anchor-portray"></a></div>
</div>

