<div class="container">
  <div class="portfolio-header" id="disclaimer-header">
    <h2>MENTIONS LEGALES</h2>
    <%= image_tag("Soulignement_or_endroit.png") %>
  </div>
  
  <div class="disclaimer-content">
    <div class="disclaimer-paragraph">
      <h5 class="disclaimer-title">Prénom Nom :</h5>
      <p class="disclaimer-text"><strong>Flavie SEREN-ROSSO</strong></p>
    </div>
    <div class="disclaimer-paragraph">
      <h5 class="disclaimer-title">Adresse :</h5>
      <p class="disclaimer-text">78 220 Viroflay</p>
    </div>
    <div class="disclaimer-paragraph">
      <h5 class="disclaimer-title">E-mail :</h5>
      <p class="disclaimer-text">XXXXXXXX</p>
    </div>
    <div class="disclaimer-paragraph" id="last-item">
      <h5 class="disclaimer-title">Mise en ligne du site :</h5>
      <p class="disclaimer-text">XX/XX/2021</p>
    </div>
    <div>
      <h4>Loi informatique et liberté</h4>
      <p>Les informations recueillies font l’objet d’un traitement informatique 
        destiné à répondre aux demandes. Les destinataires des données sont : XXXX@XXXXX.fr<br></p>
      <p>Conformément à la loi « informatique et libertés » du 6 janvier 1978
        modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification
        aux informations qui vous concernent, que vous pouvez exercer 
        en vous adressant à XXXXX@XXXXX.fr<br></p>
      <p>Vous pouvez également, pour des motifs légitimes, vous opposer 
      au traitement des données vous concernant.</p>
    </div>
    <div>
      <h4>Propriété</h4>
      <p>Le site et les informations qu’il contient sont protégés par la loi
       française sur la propriété intellectuelle et par les conventions 
       internationales. Le site (ou des éléments de son contenu) ne peut être 
       ni reproduit, ni republié, ni retranscrit, ni modifié, ni retransmis 
       sans l’autorisation préalable des ayants droits par écrit 
       (cela ne concerne pas l’utilisation dans le cercle de famille 
       ni l’usage privé).<br></p>
      <p>Tous les textes présents sur le site sont la propriété de Flavie SEREN-ROSSO.<br></p>
      <p>Crédits Photo – © Flavie SEREN-ROSSO</p>
    </div>
  </div>



</div>