.fas, .fa-arrow-circle-up {
  color: $gold;
  font-size: 55px;
  &:hover {
    color: #614b43;
    text-decoration: none;
    font-size: 65px;
  }
}

.sticky-shortcut {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  list-style: none;
}

.shortcut {
  position: absolute;
  top: 122vh;
  right: 85vw;
  height: 275vh;
/*   padding-left: 60px; */
  padding-right: 30px;
}
