<div class="footer">
  <%= image_tag("Soulignement_or_endroit.png") %>
  <div class="footer-container">
      <p class="footer-content">©2021 Conçu et Développé par 
    <%=link_to "Jasmine Seren-Rosso", "https://www.linkedin.com/in/jasminesr/", 
    class: "new-tab", target: "_blank"%></p>
    <p>Tous droits réservés | <%=link_to "Mentions légales", mentions_legales_path, 
    class: "new-tab", target: "_blank"%></p>
  </div>
</div>